.login_div{
    width: 500px;
    height: 400px;
    margin-left: 40%;
    margin-top: 10%;
}

.login{
    background-color: #0042AC !important;
    color: white !important;
}

.login:hover{
    opacity: 0.5 !important;
}

.login_title{
    text-align: center;
}